#animation-container {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  display: none;
}

#logo {
  max-width: 55px;
  width: 7.5vw;
  height: auto;
  transition: width 0.2s ease-out, max-width 0.2s ease-out;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-collapse {
  flex-grow: 0.3;
}

.nav-link {
  font-weight: 200;
  font-family: Raleway;
  letter-spacing: 0.1px;
  transition: font-size 0.2s ease-out;
}

.nav-bar {
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-scroll-background {
  background-color: #35345ffa;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 7px 0;
  transition: background-color 0.4s 0.1s ease-in, box-shadow 0.4s 0.1s ease-in !important;
}

.logo-scroll-size {
  width: 6.5vw !important;
  max-width: 35px !important;
  transition: width 0.3s ease-in, max-width 0.3s ease-in !important;
}

.nav-link-scroll-size {
  font-size: 0.85rem;
  transition: font-size 0.3s ease-in !important;
}

.logo-entrance {
  animation: fall-down 0.7s linear both;
}

@keyframes fall-down {
  0% {
    transform: translateY(-300px) scale(1, 1);
  }
  55% {
    transform: translateY(0) scale(1.2, 0.8);
  }
  70% {
    transform: translateY(-40px) scale(1, 1);
  }
  80% {
    transform: translateY(0) scale(1.15, 0.85);
  }
  90% {
    transform: translateY(-15px) scale(1, 1);
  }
  98% {
    transform: translateY(0) scale(1.12, 0.88);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}
.nav-bar-entrance {
  animation: fade 0.6s 0.3s ease-in backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 600px) {
  .nav-link {
    font-size: 1.15rem;
  }

  .nav-link-scroll-size {
    font-size: 1rem;
    transition: font-size 0.3s ease-in !important;
  }
}
@media (min-width: 1100px) {
  .nav-link {
    font-size: 1.2rem;
  }

  .nav-link-scroll-size {
    font-size: 1.05rem;
    transition: font-size 0.3s ease-in !important;
  }
}
@media (min-width: 1515px) {
  #logo {
    max-width: 65px;
  }

  .logo-scroll-size {
    width: 6.5vw !important;
    max-width: 50px !important;
    transition: width 0.3s ease-in, max-width 0.3s ease-in !important;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .nav-link-scroll-size {
    font-size: 1.45rem;
    transition: font-size 0.3s ease-in !important;
  }
}
.display1 {
  color: #FFFAFA;
  font-family: Comfortaa, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  opacity: 0.9;
}

.display2 {
  color: #5697D9;
  font-family: Pompiere, sans-serif;
  font-weight: 300;
  font-size: 2.1rem;
}

#hi {
  position: absolute;
  top: 30%;
  left: 10%;
}

#line2 {
  position: absolute;
  width: 80%;
  display: flex;
  align-items: flex-start;
  top: 50%;
  left: 10%;
}

#xunchuan {
  position: absolute;
  left: 22%;
  opacity: 0;
}

#web {
  position: absolute;
  left: 22%;
  transform: translateY(120px);
  opacity: 0;
}

.hi-entrance {
  animation: fade-in 0.9s 1s ease-in both;
}

.im-entrance {
  animation: fade-in 0.9s 2s ease-in both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 465px) {
  #hi {
    left: 15%;
  }

  #line2 {
    left: 15%;
    align-items: flex-end;
  }

  #xunchuan, #web {
    left: 16%;
  }
}
@media (min-width: 578px) {
  .display1 {
    font-size: 2.5rem;
  }

  .display2 {
    font-size: 2.8rem;
  }
}
@media (min-width: 705px) {
  .display1 {
    font-size: 3rem;
  }

  .display2 {
    font-size: 3.4rem;
  }
}
@media (min-width: 880px) {
  .display1 {
    font-size: 3.5rem;
  }

  .display2 {
    font-size: 4rem;
  }
}
@media (min-width: 1100px) {
  .display1 {
    font-size: 4rem;
  }

  .display2 {
    font-size: 5rem;
  }

  #hi {
    left: 18%;
  }

  #line2 {
    left: 18%;
    align-items: flex-end;
  }

  #xunchuan, #web {
    left: 13%;
  }
}
@media (min-width: 1515px) {
  .display1 {
    font-size: 5rem;
  }

  .display2 {
    font-size: 6rem;
  }

  #hi {
    left: 18%;
  }

  #line2 {
    left: 18%;
    align-items: flex-end;
  }

  #xunchuan, #web {
    left: 13%;
  }
}
.scroll-in {
  animation: in 0.9s ease forwards;
}

.scroll-out {
  animation: out 0.9s ease forwards;
}

@keyframes in {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-120px);
    opacity: 0;
  }
}
#projects {
  position: relative;
}

.wrapper {
  padding-top: 0rem;
}

.card {
  color: #1b1b1b;
  padding: 0;
  border: none;
  min-width: 225px;
  max-width: 415px;
  border-radius: 5px 5px 4px 4px;
  height: 80%;
  cursor: pointer;
}

.card a {
  color: inherit;
  text-decoration: inherit;
}

.shadow {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25) !important;
  transition: box-shadow 0.2s ease;
  transition: transform 0.2s ease;
}

.shadow:hover {
  box-shadow: #5697D9 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
  transform: translateY(-15px);
}

.shadow:hover .img-wrapper, .shadow:hover .text-wrapper {
  transform: scale(1.01);
}

.img-wrapper {
  width: 100%;
  background: #4e5ab4;
  border-radius: 4px 4px 0 0;
  border: none;
  transition: transform 0.2s ease;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.text-wrapper {
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 0.1rem;
  padding-left: 1rem;
  transition: transform 0.2s ease;
}

.text-wrapper h1 {
  letter-spacing: 0.4px;
  font-size: 2.1rem;
}

.text-wrapper p {
  font-size: 1.1rem;
  font-weight: 400;
}

#about {
  display: flex;
  align-items: center;
}

.profile-wrapper {
  border-radius: 50%;
}

.profile-wrapper > img {
  max-width: 110%;
  height: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.2px;
  line-height: 1.6;
}

.bio-wrapper h1 {
  font-family: Comfortaa, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: #32bee9;
}

.bio-wrapper p {
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
  font-weight: 400;
}

@media (min-width: 576px) {
  .bio-wrapper h1 {
    font-size: 1.35rem;
  }

  .bio-wrapper p {
    font-size: 0.95rem;
  }
}
@media (min-width: 850px) {
  .bio-wrapper {
    padding-right: 2rem;
  }

  .bio-wrapper h1 {
    font-size: 1.45rem;
  }

  .bio-wrapper p {
    font-size: 1rem;
  }
}
@media (min-width: 950px) {
  .bio-wrapper {
    padding-right: 5rem;
  }

  .bio-wrapper h1 {
    font-size: 1.55rem;
  }

  .bio-wrapper p {
    font-size: 1.05rem;
  }
}
@media (min-width: 1100px) {
  .bio-wrapper {
    padding-right: 7rem;
  }
}
@media (min-width: 1200px) {
  .bio-wrapper {
    padding-right: 10rem;
  }

  .bio-wrapper h1 {
    font-size: 1.7rem;
  }

  .bio-wrapper p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1500px) {
  .bio-wrapper {
    padding-right: 15rem;
  }

  .bio-wrapper h1 {
    font-size: 1.9rem;
  }

  .bio-wrapper p {
    font-size: 1.35rem;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact form {
  max-width: 550px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #1b1b1b;
}

.input-wrapper textarea {
  min-height: 160px !important;
}

.send-button {
  width: 40%;
  font-weight: 600;
  letter-spacing: 0.5px;
}

footer {
  display: none !important;
}

.footer-icons {
  flex: 1;
  width: 80%;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-icons a {
  color: inherit;
  text-decoration: inherit;
}

.footer-icons i {
  font-size: 1.1rem;
  opacity: 0.9;
  cursor: pointer;
}

.email-dropdown-block {
  position: relative;
}

.email-dropdown {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: #35345f;
  padding: 2px 0;
  font-size: 0.6rem;
  border-radius: 6px;
}

#email-icon:hover + .email-dropdown, .email-dropdown:hover {
  display: block;
  cursor: pointer;
}

.email-dropdown .line-break {
  opacity: 0.1;
  background-color: #6d6d6d;
  height: 1px;
}

.email-option {
  padding: 0.5rem;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.email-option:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.email-address {
  opacity: 1;
  font-weight: 500;
}

.email-address:hover {
  box-shadow: 0 0;
  cursor: auto;
}

.copy-email-button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}

.footer-text p {
  margin-bottom: 0.1rem;
  font-size: 0.7rem;
  opacity: 0.8;
}

.teo {
  text-decoration: none;
  color: inherit;
}

.teo:hover {
  text-decoration: underline;
  color: #69aff5;
  opacity: 0.9;
}

@media (min-width: 576px) {
  .footer-icons i {
    font-size: 1.3rem;
  }

  .footer-text p {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
  }

  .email-dropdown {
    font-size: 0.8rem;
  }

  .email-option {
    padding: 0.6rem;
  }
}
@media (min-width: 768px) {
  .footer-icons i {
    font-size: 1.5rem;
  }

  .footer-text p {
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1000px) {
  .email-dropdown {
    font-size: 0.9rem;
  }

  .email-option {
    padding: 0.8rem;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #414073;
  font-family: Quicksand, sans-serif;
  color: #FFFAFA;
}

section {
  min-height: 100vh;
}

main {
  display: none;
}

nav {
  visibility: hidden;
}

footer {
  visibility: hidden;
}