@use './theme';

#about {
    display: flex;
    align-items: center;
}

.profile-wrapper {
    border-radius: 50%;    
}

.profile-wrapper > img {
    max-width: 110%;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
}

.bio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.2px;
    line-height: 1.6;    
}

.bio-wrapper h1 {
    font-family: theme.$display1;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: #32bee9;
}

.bio-wrapper p {
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
    font-weight: 400;           
}

@media (min-width: 576px) {
    .bio-wrapper h1 {
        font-size: 1.35rem;
    }

    .bio-wrapper p {
        font-size: 0.95rem;
    }
}

@media (min-width: 850px) {
    .bio-wrapper {
        padding-right: 2rem;
    }

    .bio-wrapper h1 {
        font-size: 1.45rem;
    }

    .bio-wrapper p {
        font-size: 1rem;
    }
}

@media (min-width: 950px) {
    .bio-wrapper {
        padding-right: 5rem;
    }

    .bio-wrapper h1 {
        font-size: 1.55rem;
    }

    .bio-wrapper p {
        font-size: 1.05rem;
    }
}

@media (min-width: 1100px) {
    .bio-wrapper {
        padding-right: 7rem;
    }    
}

@media (min-width: 1200px) {
    .bio-wrapper {
        padding-right: 10rem;
    }

    .bio-wrapper h1 {
        font-size: 1.7rem;
    }

    .bio-wrapper p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1500px) {
    .bio-wrapper {
        padding-right: 15rem;
    }

    .bio-wrapper h1 {
        font-size: 1.9rem;
    }

    .bio-wrapper p {
        font-size: 1.35rem;
    }
}

