@use './theme';

nav {
  display: none;
}

#logo {
    max-width: 55px;
    width: 7.5vw;
    height: auto;
    transition: width 0.2s ease-out, max-width 0.2s ease-out;
}
  
.navbar-brand {
  padding-top: 0;
}

.navbar-collapse {
  flex-grow: 0.3;
}

.nav-link {
  font-weight: 200;
  font-family: Raleway;
  letter-spacing: 0.1px;
  transition: font-size 0.2s ease-out;
}

.nav-bar {
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;  
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-scroll-background {
  background-color: #35345ffa;    
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 7px 0;
  transition: background-color 0.4s 0.1s ease-in, box-shadow 0.4s 0.1s ease-in !important;
}

.logo-scroll-size {
  width: 6.5vw !important;
  max-width: 35px !important;
  transition: width 0.3s ease-in, max-width 0.3s ease-in !important;
}

.nav-link-scroll-size {
  font-size: 0.85rem;
  transition: font-size 0.3s ease-in !important;
}

.logo-entrance {
  animation: fall-down 0.7s linear both;
}

@keyframes fall-down {
  0% {
    transform: translateY(-300px) scale(1, 1);       
  }
  55% {
    transform: translateY(0) scale(1.2, 0.8);
  }
  70% {
    transform: translateY(-40px) scale(1, 1);
  }
  80% {
    transform: translateY(0) scale(1.15, 0.85);
  }
  90% {
    transform: translateY(-15px) scale(1, 1);
  }
  98% {
    transform: translateY(0) scale(1.12, 0.88); 
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}

.nav-bar-entrance {
  animation: fade 0.6s 0.3s ease-in backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .nav-link {
    font-size: 1.15rem;
  }

  .nav-link-scroll-size {
    font-size: 1rem;
    transition: font-size 0.3s ease-in !important;
  }
}

@media (min-width: 1100px) {
  .nav-link {
    font-size: 1.2rem;
  }

    .nav-link-scroll-size {
    font-size: 1.05rem;
    transition: font-size 0.3s ease-in !important;
  }
}

@media (min-width: 1515px) {
  #logo {
    max-width: 65px;      
  }

  .logo-scroll-size {
    width: 6.5vw !important;
    max-width: 50px !important;
    transition: width 0.3s ease-in, max-width 0.3s ease-in !important;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .nav-link-scroll-size {
    font-size: 1.45rem;
    transition: font-size 0.3s ease-in !important;
  }
}