$primary-font: Quicksand, sans-serif;
$display1: Comfortaa, sans-serif;
$display2: Pompiere, sans-serif;
$offwhite: #FFFAFA;
$background: #414073;
$primary: #5697D9;
$primary-light: #94b7db;
$offblack: rgb(27, 27, 27);
$card: #4e5ab4;