@use './theme';
@use './nav';
@use './home';
@use './projects';
@use './about';
@use './contact';

* {
  box-sizing: border-box;
}

body {
    background-color: theme.$background;
    font-family: theme.$primary-font;
    color: theme.$offwhite;
}

section {
  min-height: 100vh;
}
